@import "tailwindcss";

.logo {
  height: 15vmin;
  pointer-events: none;
}




.btn-primary {
  @apply bg-[var(--primary-color)] text-white font-bold py-3 px-5 rounded-3xl my-2 cursor-pointer flex gap-2 justify-center items-center;
}

.btn-primary:hover {
  @apply bg-[var(--secondary-color)] text-white;
}

.btn-secondary {
  @apply bg-[var(--secondary-color)] text-white font-bold py-3 px-5 rounded-3xl mx-1 cursor-pointer;
}

.btn-secondary:hover {
  @apply bg-[var(--primary-color)] text-white;
}


nav {
  @apply flex justify-between items-center bg-[var(--primary-color)] text-white shadow-md py-4 px-25 h-fit rounded-4xl;
  /* position: fixed;
  right: 50;
  top: 50; */
}

.header {
  @apply flex justify-between  items-center px-10 text-center text-white;
  position: relative;
}

.header ul {
  @apply flex justify-between items-center gap-8;
  list-style: none;
}

.header ul li {
  @apply cursor-pointer
}

.hero {
  @apply flex justify-center items-center px-40 py-5 ;
  position: relative;
  z-index: 1; 
}

.hero-image {
  @apply w-1/2 p-5;
}

.hero-text {
  @apply w-1/2 text-start ;
}

.hero-text h1 {
  @apply font-bold text-gray-600 mb-10 ;
  line-height: 1em;
  font-family: 'Konkhmer Sleokchher', sans-serif;
  font-size: 5em;
  font-weight: 700;
}

.hero-text .job-title {
  @apply text-2xl font-semibold  text-gray-600 mb-4;
}

.hero-buttons {
  @apply flex justify-start items-center gap-1 mt-3;
  
}

.home {
  @apply min-h-screen;
  position: relative;
  z-index: 1;   
}

.adelia {
  font-family: 'Adelia', sans-serif;
  font-size: 0.8em;
  font-weight: 200;
  color: #D892A0;

}