@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 2em;


  --primary-color : #D892A0;
  --secondary-color : #f3859b;
}

body {
  background-image: url('./assets/FOND.png');
  background-position: fixed;
  background-repeat: no-repeat; 
  background-size: cover;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
